@media only screen and (max-width: 1200px) {
    .swiper-container {
        width: 80%;
    }
}
@media only screen and (max-width: 1023px) {
    .swiper-container {
        width: 100%;
    }
    .panel {
        width: 80%;
    }
    h1 {
        font-size: 350% !important;
    }
}
@media only screen and (max-width: 767px) {
    header {
        background: -o-linear-gradient(rgba(10, 8, 11, 0.5), rgba(10, 8, 11, 0.5)), url(imgs/bgimg-phone.jpg);
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 8, 11, 0.5)), to(rgba(10, 8, 11, 0.5))), url(imgs/bgimg-phone.jpg);
        background: linear-gradient(rgba(10, 8, 11, 0.5), rgba(10, 8, 11, 0.5)), url(imgs/bgimg-phone.jpg);
        background-size: cover;
    }
    h2 {
        font-size: 250% !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    #choose-panel .btn{
        width: 100%;
        font-size: 100%;
        font-weight: 300;
    }
    #choose-panel h2 {
        margin-bottom: 25% !important;
    }
    #choose-panel .col {
        margin: 0 0 5% 0;
    }
    .panel {
        width: 70%;
    }
    .col {
        float: none;
    }
    .lvl-txt,
    .exp-txt,
    .resources-txt {
        font-size: 110%;
        margin: 7px;
    }
    .input-field{
        font-size: 90%;
        margin: 5px;
        padding: 10px;

    } 
    .span-1-of-3, 
    .span-2-of-3 {
        width: 100%;
    }
}