/*---------------------*/
/*---VARIABLES---*/
/*---------------------*/
:root {
    --main: #007aff;
    --dark: #0051aa;
    --light: #3395ff;
}
/*---------------------*/
/*---GLOBAL---*/
/*---------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;   
   }
::-webkit-scrollbar {
    width: 0px;
}
html {
    background-color: #0a080b;
    color: #f4f4f4;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*---------------------*/
/*---SWIPER---*/
/*---------------------*/
.swiper-container {
    width: 70%;
    height: 100vh;
}
.swiper-pagination .swiper-pagination-bullet{
    opacity: 1;
    background-color: #f4f4f4 !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--main) !important;
}
/*---------------------*/
/*---HEADER---*/
/*---------------------*/
header {
    background: linear-gradient(rgba(10, 8, 11, 0.5), rgba(10, 8, 11, 0.5)), url(imgs/bgimg.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 400%;
    font-weight: 300;
    text-align: center;
}
.big {
    font-weight: 900;
    color: var(--light);
}
#click-me {
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, -6%);
    transition: transform 0.5s;
}
#click-me:hover{
    transform: translate(-50%, 0);
}
#click-me a:link,
#click-me a:visited {
    text-decoration: none;
    color: #555;
    transition: color 0.5s, transform 0.5s;
}
#click-me a:hover,
#click-me a:focus,
#click-me a:active {
    color: var(--light);
}
/*---------------------*/
/*---PANELS---*/
/*---------------------*/
.panel {
    width: 70%;
    margin: auto;
}
.panel h2 {
    font-size: 300%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: 300;
}
.lvl-txt,
.exp-txt,
.resources-txt {
    vertical-align: middle;
    margin: 20px;
    padding: 5px;
    font-size: 120%;
    font-weight: 300;
}
.input-field{
    width: 100%;
    padding: 20px;
    margin: 10px;
    background-color: #f4f4f4;
    font-size: 90%;
    text-transform: capitalize;
    text-align: center;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border 0.5s;
}
.input-field:active,
.input-field:focus {
    border: 2px solid var(--light);
}
.btn {
    padding: 20px 50px;
    margin: 10px;
    font-size: 90%;
    background-color: var(--main);
    border: 0;
    color: #f4f4f4;
    border-radius: 5px;
    transition: background-color 0.5s;
}
.btn:hover{
    background-color: var(--dark);
}
.answers {
    text-align: center;
    font-size: 120%;
    margin-top: 30px;
}