/*---------------------*/
/*---VARIABLES---*/
/*---------------------*/
:root {
    --main: #007aff;
    --dark: #0051aa;
    --light: #3395ff;
}
/*---------------------*/
/*---GLOBAL---*/
/*---------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:focus{
    outline: none;   
   }
::-webkit-scrollbar {
    width: 0px;
}

body,
html {
    background-color: #0a080b;
    color: #f4f4f4;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    height: 100%;
    scrollbar-width: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#main {
    height: 100%;
    position: relative;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.hide {
    display: none;
}
/*---------------------*/
/*---SWIPER---*/
/*---------------------*/
.swiper-container {
    width: 70%;
    min-height: 100%;
}
.swiper-pagination .swiper-pagination-bullet{
    opacity: 1;
    background-color: #f4f4f4 !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--main) !important;
}
/*---------------------*/
/*---HEADER---*/
/*---------------------*/
header {
    background: -o-linear-gradient(rgba(10, 8, 11, 0.5), rgba(10, 8, 11, 0.5)), url(imgs/bgimg.jpg);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 8, 11, 0.5)), to(rgba(10, 8, 11, 0.5))), url(imgs/bgimg.jpg);
    background: linear-gradient(rgba(10, 8, 11, 0.5), rgba(10, 8, 11, 0.5)), url(imgs/bgimg.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    min-height: 100%;
}
.welcome-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
}
h1 {
    font-size: 400%;
    font-weight: 300;
}
.big {
    font-weight: 900;
    color: var(--light);
}
#click-me {
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    left: 50%;
    bottom: 2%;
    -webkit-transform: translate(-50%, -6%);
        -ms-transform: translate(-50%, -6%);
            transform: translate(-50%, -6%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
#click-me:hover{
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}
.links:link,
.links:visited {
    text-decoration: none;
    color: #555;
    -webkit-transition: color 0.5s, -webkit-transform 0.5s;
    transition: color 0.5s, -webkit-transform 0.5s;
    -o-transition: color 0.5s, transform 0.5s;
    transition: color 0.5s, transform 0.5s;
    transition: color 0.5s, transform 0.5s, -webkit-transform 0.5s;
}
.links:hover,
.links:focus,
.links:active {
    color: var(--light);
}
/*---------------------*/
/*---PANELS---*/
/*---------------------*/
.panel {
    width: 70%;
    margin: auto;
}
.panel h2 {
    font-size: 300%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 9%;
    font-weight: 300;
}
.sub-text {
    color: #555;
    font-size: 80%;
    font-weight: 400;
    text-align: center;
}
.lvl-txt,
.exp-txt,
.resources-txt {
    vertical-align: middle;
    margin: 15px;
    padding: 3.75px;
    font-size: 120%;
    font-weight: 300;
}
.input-field{
    width: 100%;
    padding: 15px;
    margin: 3px;
    background-color: #f4f4f4;
    font-size: 90%;
    text-transform: capitalize;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    border-radius: 3.75px;
    border: 2px solid transparent;
    -webkit-transition: border 0.5s;
    -o-transition: border 0.5s;
    transition: border 0.5s;
}
.input-field:active,
.input-field:focus {
    border: 2px solid var(--light);
}
.btn {
    padding: 15px 37.5px;
    margin: 7.5px;
    font-size: 90%;
    background-color: var(--main);
    border: 0;
    color: #f4f4f4;
    border-radius: 3.75px;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}
.btn:hover{
    background-color: var(--dark);
}
.answers {
    text-align: center;
    font-size: 120%;
    margin-top: 22.5px;
}
/*---GO UP BUTTON---*/
.go-up-location {
    position: absolute;
    bottom: 5%;
    right: 5%;
    -webkit-transform: translate(0, 5%);
        -ms-transform: translate(0, 5%);
            transform: translate(0, 5%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    z-index: 999999;
}
.go-up-location:hover,
.go-up-location:active,
.go-up-location:focus {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
}
/*---GO BACK BUTTON---*/
.go-back-location {
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 999999;
    -webkit-transition: display 1s, -webkit-transform 0.5s;
    transition: display 1s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, display 1s;
    transition: transform 0.5s, display 1s;
    transition: transform 0.5s, display 1s, -webkit-transform 0.5s;
    -webkit-transform: translate(5%, 0);
        -ms-transform: translate(5%, 0);
            transform: translate(5%, 0);
}
.go-back-location:hover,
.go-back-location:active,
.go-back-location:focus{
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
}
#go-back {
    color: #555;
    cursor: pointer;
    transition: color 0.5s;
}
#go-back:hover,
#go-back:active,
#go-back:focus {
    color: var(--light);
}
/*---CHOICES SLIDE---*/
#choose-panel {
    text-align: center;
}
#choose-panel h2 {
    margin-bottom: 21%;
}
#choose-panel .btn{
    margin: 0;
    padding: 15px 16%;   
    -webkit-transition: background-color 0.2s, border 0.5s;   
    -o-transition: background-color 0.2s, border 0.5s;   
    transition: background-color 0.2s, border 0.5s;
    font-weight: 300;
}
#choose-panel .btn:hover {
    background-color: var(--dark);
}
#choose-panel .btn:active{
    background-color: var(--light);
}
